<div>
  <%= form_for @suggestion do |f| %>
    <%= render "shared/error_messages", object: @suggestion %>
    <div class="field">
      <%= f.text_area :content, placeholder: t("suggestion.add") %>
    </div>
    <%= f.submit t("suggestion.button"), class: "btn btn-primary" %>
  <% end %>
</div>
