<li id="category-<%= category.id %>">
  <span class="name"><%= link_to category.name, category %></span>
  <span><%= link_to t("edit.title"), edit_admin_category_path(category), class: "btn btn-primary" %></span>
</li>
