<% provide :title, t("categoryindex.title") %>
<div class="col-md-4">
  <%= link_to t("categoryindex.create"), new_admin_category_path, class: "btn btn-primary" %>
  <%= will_paginate %>
  <ul class="categories">
    <%= render @categories %>
  </ul>
  <%= will_paginate %>
</div>
<div class="clearfix"></div>
