@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

li{
  list-style-type: none;
}
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header{
  z-index: 999;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-top: 5px;
  height: 250px;
  border-top: 1px solid $gray-medium-light;
  color: #FFFFFF;
  background-color: #717070;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }footer
  small {
    float: left;
  }
  ul {
    padding-left: 5px;
    list-style: none;
    margin-top: 20px;
    li {
      margin-top: 15px;
      i{
        font-size: 13px;
      }
    }
  }
  .footer-title{
    font-weight: bold;
    font-size: 20px;
  }
  .placeholder{
    background-image: url("http://i.imgur.com/txQWcax.png");
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: cover;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title{
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  .content {
    p {
      margin-left: 40px
    }
    margin-left: 60px;
  }
  .post{
  margin-left: 10px !important;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

#flash {
  color: #3c763d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}

.user_avatar {
   #image-preview{
    margin: 0
  }
  .profile-image{
    margin: 0;
    height: 30px;
    width: 30px;
  }
  .img-responsive{
    display: inline;
  }
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.avata_on_post{
  #image-preview{
    margin: 0
  }
  .profile-image{
    margin: 0;
    height: 30px;
    width: 30px;
  }
  .img-responsive{
    display: inline;
  }
}

.picture{
  input{
    width: 210px;
    margin: 0 auto;
  }
}
.btn{
  margin-bottom: 50px;
  margin-top: 30px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*profile*/

section.bh_banner{
  padding-top: 50px;
  padding-bottom: 150px;
  background-size: cover;
  position: relative;
}

section.bh_banner{
  background-position: center;
}

section.bh_banner:before{
  content: "";
  display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

section.bh_banner:after{
  content: "";
  display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(19, 29, 38, 0) 39%, rgba(19, 29, 38, 0.2) 60%, rgba(0, 0, 0, 0.4) 80%, rgba(19, 29, 38, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(19, 29, 38, 0) 39%, rgba(19, 29, 38, 0.2) 60%, rgba(19, 29, 38, 0.4) 80%, rgba(19, 29, 38, 0.6) 100%);
    height: 100%;
}

section.bh_banner .bh_bgr img{
  width: 100%;
}

section.bh_banner .bh_bgr .wrapper{
    margin: 0 auto;
    color: #fff;
  position: relative;
    z-index: 1;
}

section.bh_banner .bh_bgr .wrapper h1{
  font-size: 24px;
  color: #fff;
}

section.bh_banner .bh_bgr .wrapper .img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 3px;
    background: #fff;
    border-radius: 50%;
}

section.bh_banner .bh_bgr .wrapper .img img{
  height: 100%;
  width: 100%;
    border-radius: 50%;
  border: 1px solid #ddd;
}

.img-circle{
  width: 100%;
  height: 100%;
}

section.bh_banner .bh_bgr .wrapper p{
  font-family: "OpenSans-Light";
  font-size: 14px;
  margin-top: 20px;
}

section.bh_banner .bh_link-list{
  position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    z-index: 1;
    padding-left: 0px !important;
}

section.bh_banner .bh_link-list li{
  display: inline-block;
  margin: 0 5px;
  position: relative;
}

section.bh_banner .bh_link-list li a{
  color: #DFDFDF;
  font-family: "OpenSans-Light";
  font-size: 16px;
}

section.bh_banner .bh_link-list li a:hover{
  color: #ffffff;
  text-decoration: none;
}

section.bh_banner .bh_link-list li.active:after{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #F5F8FA;
  position: absolute;
  bottom: -23px;
    left: 37%;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.stats {
  margin: 0 auto;
  padding: 20px 3px 20px 3px;
  width: 40%;
  overflow: auto;
  a {
    width: 100%;
    float: left;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
  div.td-stats{
    margin: 0 auto;
    width: 100% !important;
  }
  .stats-1{
    border-right: 1px solid #D9D9D9;
  }
}
.users.follow {
  padding: 0;
}
.btn{
  border-radius: 3px !important;
}
.td-unfollow{
  color: #333 !important;
}
.td-unfollow:hover{
  background-color: #909090;
}
.td-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}
.td-btn img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.atm-cart{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.td-atm-content{
  background-color: #FFFFFF;
  margin-top: 150px;
  padding-top: 50px;
}
.block{
  display: block !important;
}
.icon{
  background-image: url("http://i.imgur.com/oB6tTa9.png");
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
  display: block;
  position: absolute;
  cursor: pointer;
}
.td-atm{
  p{
    margin-bottom: 0px !important;
  }
}
.td-background{
  position: relative;
  background-image: url("http://i.imgur.com/Yd2418w.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  color: #FFFFFF !important;
  background-color: transparent !important;
  height: 300px;
  background-position: center; 
}
video{
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  top: 0px;
  left: 0px;
  z-index: -9999;
}
.td-home-content{
  margin-top: 50px;
  h1{
    font-size: 30pt;
  }
}

/* Hover */

/* Bounce In */

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Overline From Right */

.hvr-overline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  top: 3px;
  background: #FFFFFF;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-right:hover:before, .hvr-overline-from-right:focus:before, .hvr-overline-from-right:active:before {
  left: 0;
}

/* Glow */

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* finish hover */


/* Product show */
.td-product-show img{
  margin: 0 auto;
  width: 80%;
  height: 450px;
}
.td-product-comment{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  background-color: #FFFFFF;
  height: 100%;
}
.td-product-comment #comment_content{
  margin-left: -10px !important;
  margin-top: 20px;
}
.products{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0 !important;
}
.jumbotron{
  margin-bottom: 0px !important;
}
.td-background .image-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}
.td-login{
  padding-bottom: 150px;
  padding-top: 50px;
}
.td-profile{
  padding-top: 50px;
  padding-bottom: 100px;
  .td-img-profile{
    float: right;
    img{
      width: 100px;
      height: 100px;
      display: inline-block;
    }
  }
  span{
    font-size: 30px;
    font-weight: bold;
    padding-left: 50px;
  }
  .profile-left{
    p{
      float: right;
      font-weight: bold;
    }
    .first-child { 
      margin-top: 15px;
    }
  }
  .profile-right{
    .first-child { 
      margin-top: 30px;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 43px;
    }
  }
}
.td-product-show{
  background-color: rgba(0, 0, 0, 0.8);
}
.td-prod-li{
  margin-bottom: 60px;
  .input-group-btn{
    position: absolute;
    width: 200px;
    bottom: 30%;
    left: calc(50% - 100px);
    z-index: 99;
    display: none;
  }
  .name{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .line{
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: #675f5f;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .image-show > a > img{
    width: 100%;
    height: 100%;
  }
}
.td-product-show{
  .input-group-btn{
    position: absolute;
    width: 200px;
    bottom: 30%;
    left: calc(50% - 100px);
    z-index: 99;
    display: none;
  }
}
.td-product-show:hover .input-group-btn{
  display: block !important;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-product-show:hover img{
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-prod-li:hover .input-group-btn{
  display: block !important;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-prod-li:hover img{
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-prod-li:hover .line{
  width: 100%;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-cate-show{
  border-right: 1px solid #D9D9D9;
}
.categories{
  padding-left: 0 !important;
  li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
    a{
      color: #737373;
      font-size: 20px;
      font-style: italic;
      width: 100%;
      display: block;
      padding-left: 30px;
    }
    a:hover{
      text-decoration: none;
    }
    p{
      margin-bottom: 0px;
    }
  }
  li:hover{
    background-color: #D9D9D9;
    a{
      color: #FFFFFF;
    }
  }
}
.td-filter-drop{
  height: 55px;
  .btn{
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 20px;
    min-width: 160px;
    height: 35px;
  }
  .dropdown-menu{
    right: 0 !important;
    top: 55px !important;
    left: auto !important;
  }
  span{
    position: absolute;
    top: 30px;
    right: 180px;
  }
}
.suggestion_form{
  padding-top: 30px;
  p{
    margin-bottom: 35px;
  }
}
#follow_form{
  width: 50%;
  margin: 0 auto;
}
.td-user-img{
  display: table-cell !important;
}
.td-admin-user{
  padding-top: 50px;
  padding-bottom: 50px;
  .td-user-table{
    tbody tr th.first{
      width: 80px;
    }
  }
  table tbody tr:nth-child(2n){
    background-color: #D9D9D9;
  }
}
.user-title{
  margin-bottom: 30px;
}
.suggestion-box{
  width: 400px;
  height: 250px;
  background-color: #99a7bb;
  position: fixed;
  top: 100px;
  left: -400px;
  transition-duration: 0.5s;
  z-index: 999;
}
.box{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: -40px;
  background-color: #99a7bb;
  cursor: pointer;
  border-radius: 5px;
  b{
    margin-top: 10px;
    margin-left: 13px;
  }
  b:before{
    font-size: 30px;
    color: #FFFFFF;
  }
}
.filout{
  left: 0;
}
.suggestion{
  min-height: 340px;
}
.td-cate{
  .image-show{
    width: 100%;
    height: 280px;
  }
}
.td-index-prod{
  .image-show{
    width: 100%;
    height: 380px;
  }
}
.td-rate{
  width: 50px;
  height: 50px;
  display: inline-block;
  form{
    width: 100%;
    height: 100%;
  }
}
#rate-1{
  margin-left: 50px;
}
.star{
  width: 100%;
  height: 100%;
  .rate-button{
    position: absolute;
    background-color: transparent !important;
    border: none;
    z-index: 9999;
    width: 100%;
    height: 100% !important;
  }
}
.star::before{
  position: absolute;
  font-size: 40px;
  left: 6px;
  z-index: 1;
}
.color-hover{
  color: yellow;
}
.td-order-button{
  border-radius: 5px;
  display: inline-block;
}
.show-order{
  min-height: 330px;
  table th:last-child{
    width: 200px;
  }
}
.td-rela{
  min-height: 350px;
}
.td-sug-title{
  font-size: 20px;
  font-weight: bold;
}
.glyphicon-shopping-cart{
  color: #b0b2bd;
  font-size: 25px;
  width: 100%;
  a{
    font-size: 20px;
    width: 100%;
    float: right;
    z-index: 999;
    position: relative;
    color: #777777;
    height: 100%;
  }
  a:hover{
    text-decoration: none;
    color: #FFFFFF;
  }
}
.glyphicon-shopping-cart:hover{
  color: #FFFFFF;
}
.glyphicon-shopping-cart:before{
  position: absolute;
  left: 0;
}
.td-cart-icon{
  width: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.td-admin-order-index{
  min-height: 350px;
}
.td-paginate{
  width: 300px;
  margin: 0 auto;
}
