<% provide :title, t("categoryindex.title") %>
<%= render "show_product" %>
<div class="col-md-4">
  <div class="row">
    <%= render "shared/filter_form" %>
    <ul class="categories">
      <%= render @categories %>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
