<% provide :title, t("productindex.title") %>
<div class="col-md-8">
  <%= render "shared/filter_form" %>
  <ul class="products", id="current-product">
    <%= render @products %>
  </ul>
</div>
<div class="clearfix"></div>
