<footer class="footer">
  <small><%= t "footer.title" %></small>
  <nav>
    <ul>
      <li><%= link_to t("about.title"), about_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "help.title" %></a></li>
    </ul>
  </nav>
</footer>
